[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tensorboard = "*"
matplotlib = "*"

[packages]
nltk = "*"
ipykernel = "*"
pyenchant = "*"
tensorflow = "*"
keras = "*"
imbalanced-learn = "*"
tensorflow-addons = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"
openpyxl = "*"

[requires]
python_version = "3.8"
